div.cover{
  z-index:1;
  position:relative;
  top:0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color:white;

}

div.title{
  font-size: 80px;
  padding-top: 40vh;
  text-align: center;
}

div.next{
  margin:50px auto;
  &:hover{
    cursor: pointer;
  }
}