div.master-container{
  margin-bottom: 0;
  position:fixed;
  top:40px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size:cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
}

div.summary{
  max-width: 400px;
  max-height: 500px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  color: #271a70;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity:1;
}

div.ABOUTME{
  opacity:1;
  &:hover{
    color:yellowgreen;
    cursor: pointer;
  }
}

div.SKILL{
  &:hover{
    color:yellowgreen;
    cursor: pointer;
  }
}

div.PROJECTS{
  &:hover{
    color:yellowgreen;
    cursor: pointer;
  }
}

div.CONTACTME{
  &:hover{
    color:yellowgreen;
    cursor: pointer;
  }
}
