div.master-container{
  width: 100%;
  height: 1000px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: right;
  filter: grayscale(100%);
  background-blend-mode: saturation;
}