div.skills{
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-color: rgb(226, 222, 222);
  overflow:hidden;
}

div.article-title{
  margin:50px auto 0 auto;
  text-align: center;
  width: 80vw;
  height: auto;
  font-size: 40px;
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
}

div.words{
  margin:5vw auto;
  width: 80vw;
  height: auto;
  font-size:24px;
  font-family: 'Times New Roman', Times, serif;
  img{
    margin: 0 auto;
    max-width: 60vw;
  }
}

div.aboutmepage{
  margin: 0;
  position: relative;
  width: 100vw;
  height: auto;
  z-index: 1;
  background-color: rgb(226, 222, 222);
  overflow:hidden;
}



div.projectspage{
  margin-bottom: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-color: rgb(226, 222, 222);
  overflow:hidden;
}

div.projects-container{
  margin: 0;
  position: relative;
  width: 90%;
  min-height: 100vh;
  z-index: 1;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow:hidden;
}

div.contactme{
  margin: 0;
  position: relative;
  width: 100vw;
  height: auto;
  z-index: 1;
  background-color: rgb(226, 222, 222);
  overflow:hidden;
}

div.contact-container{
  margin: 0;
  position: relative;
  width: 90%;
  min-height: 100vh;
  z-index: 1;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow:hidden;
}

div.contact-details{
  width: 300px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  margin: 20px auto;
  &:hover
  {
    cursor: pointer;
  }
  a{
    text-decoration-line: none;
    color:black;
  }
  p.title{
    font-size: 30px;
    margin: 0;
  }
  p.link{
    font-size: 16px;
    margin: 0;
  }
}